/******************************************
  Container
******************************************/

#entity-map-container {
  position: relative;
  min-width: 730px;
}



/******************************************
  Settings
******************************************/

@media screen and (min-width: 75em) {
  #graph-settings > div {
    padding: 20px 4em 0;
  }
}

#graph-settings .input-group .form-control {
  z-index: 0;
}


/****** Subsets *******/

#entity-subsets {
  position: relative;
  top: -10px;
}

#entity-subsets select {
  font-size: 1.25em;
  height: 46px;
}

.select-and-button > div {
  display: inline-block;
}

.select-and-button > div:nth-child(1) {
  width: 90%;
}

.select-and-button > div:nth-child(2) {
  width: 6%;
  margin-left: 2%;
}

#edit-subset-btn {
  border-radius: 100%;
  outline: none;
}

#edit-subset-btn:not(.btn-danger) {
  background: #c4c4c4;
}

#edit-subset-btn, #entity-subsets .checkbox * {
  opacity: 0;
  transition: all 0.3s ease-out;
}

#entity-subsets.subset-selected #edit-subset-btn,
#entity-subsets.subset-selected .checkbox * {
  opacity: 1;
}


/****** Subset Manager *******/

#subset-manager .modal-body .input-group {
  margin-bottom: 1em;
}

#subset-list {
  list-style: none;
  background: #d8d8d8;
  padding-left: 0;
  border: 2px solid #000;
}

#subset-list li{
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em 1em;
}

#subset-list li:hover {
  cursor: move;
  background: #7c7c7c;
}

#subset-list li:active {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#subset-list li .remove-icon {
  background: #b80019;
  border-radius: 100%;
  float: right;
  padding: 0 0.1em 0.1em 0;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#subset-list li:hover .remove-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}


/****** Search *******/

#search-form input,
#search-form button,
#entity-sets select {
  background: #d0d0d0;
  color: #8d8d8d;
}


/****** Hops Away *******/

#hops-away > p {
  font-weight: bold;
}

.hops-2 { background: #a1acbb; }
.hops-3 { background: #aa9a9b; }

#hops-away span {
  display: inline-block;
  text-align: center;
  border: 1px solid #c0c0c0;
  width: 40px;
  height: 40px;
  border-radius: 0.5em;
  margin-left: 1em;
  vertical-align: middle;
  line-height: 37px;
  font-size: 1.5em;
  cursor: pointer;
}

#hops-away span:nth-child(2) { margin-left: 0; }
#hops-away span.selected     { border: 3px solid #f00; }


/******************************************
  Graph
******************************************/

#graph {
  font-family: Roboto, 'Lucida Grande', sans-serif;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: inline-flex;   /* should be flex, workaround for Firefox */           
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1em 1em;
  min-width: 700px;
  margin: 0 auto;
}
@media screen and (max-width: 90em) {
  #graph { font-size: 90%; }
}
@media screen and (max-width: 80em) {
  #graph { font-size: 80%; }
}
@media screen and (max-width: 70em) {
  #graph { font-size: 70%; }
}
@media screen and (max-width: 60em) {
  #graph { font-size: 60%; }
}
.domain.open .entities {
  height: auto;
  padding: 0.5em 1em;
  opacity: 1;
  filter: alpha(opacity=100);
}
.domain {
  -webkit-flex: 0 1 18em;
  -ms-flex: 0 1 18em;
  flex: 0 1 18em;
  height: calc(100% - 7em);
  border-radius: 1em;
  text-align: center;
  margin: 2em 0.2em;
  vertical-align: top;
  background: rgba(0,0,0,0.6);
}
.domain .domain-title {
  background: #000;
  font-size: 1.3em;
  color: #919191;
  margin: 0;
  padding: 1em 0.5em;
  border-top-left-radius: .8em;
  border-top-right-radius: .8em;
  cursor: pointer;
  letter-spacing: 0.1em;
}
.domain .domain-title:first-letter {
  color: #bebebe;
  font-size: 1.5em;
}
.entities {
  height: 0;
  padding: 0 1em;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: 0.3s all ease-out;
  border-bottom-left-radius: .8em;
  border-bottom-right-radius: .8em;
}
.entity {
  display: block;
  margin: 1.5em auto;
  padding: 0.2em 0.5em 1em;
  border-radius: 0.6em;
  cursor: pointer;
  background: #fafafa;
  color: #000;
  letter-spacing: 0.08em;
  transition: all 0.23s ease-out;
  overflow: hidden;
}
.entity.selected {
  border: 3px solid #f00;
  color: #000;
}
.entity.noshow {
  padding: 0;
  margin: 0;
  height: 0;
  opacity: 0;
  background: rgba(0,0,0,0.6);
  position: absolute;
}
.entity-title {
  font-size: 1em;
  margin: 0.5em 0 0;
  letter-spacing: 0.1em;
}
.glyphs {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  transition: all 0.1s ease-out;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 0;
  margin: 0;
  overflow: hidden;
}
.api-link,
.description {
  -webkit-flex: 0 1 2em;
  -ms-flex: 0 1 2em;
  flex: 0 1 2em;
  display: none;
  color: #000;
  text-decoration: none;
}
.hop-trail span {
  display: block;
  color: #fff;
  padding-top: .6em;
}
.glyphs.selected .description,
.description:hover,
.api-link:hover {
  color: #f00;
}
.entity:hover .glyphs,
.entity.selected .glyphs,
.glyphs.selected {
  height: 1.5em;
  opacity: 1;
  filter: alpha(opacity=100);
  margin-top: 1em;
}
.entity:hover .glyphs .api-link,
.entity.selected .glyphs .api-link,
.glyphs.selected .api-link,
.entity:hover .glyphs .description,
.entity.selected .glyphs .description,
.glyphs.selected .description {
  display: block;
}

.popover.bottom {
  padding: 0;
}
.popover.bottom>.arrow:after {
  border-bottom-color: #000;
}
.popover-title {
  background: #000;
}


/******************************************
  Help
******************************************/

#help-overlay {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0,40,60,0.8);
  padding: 15px 30px;
  border: 4px solid #434a51;
}

#help-overlay .popover  {
  display: block;
  position: absolute;
  width: 400px;
  z-index: 1;
}

#help-overlay .popover.open {
  z-index: 1000;
}

#help-overlay .popover-title {
  background: #98bcdc;
  color: #000;
  border-bottom-color: #98bcdc;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#help-overlay .arrow:after {
  border-bottom-color: #8cbce4;
}

#help-overlay .popover-title:hover {
  cursor: pointer;
}

#help-overlay .glyphicon {
  float: right;
}

#help-overlay .popover-content {
  border: 4px solid #8cbce4;
  border-top: none;
  overflow: hidden;
  display: none;
}

#help-overlay img {
  border-radius: .5em;
  width: 120px;
  height: 65px;
  margin: 0 1em 1em 0;
  float: left;
}

#help-subsets, #help-search, #help-hops, #help-entity, #help-video {
  position: relative;
}

#help-subsets { left: 50%; top: 80px; }
#help-search { left: 30%; top: 180px; }
#help-hops { left: 43px; top: 270px; }
#help-entity { left: 43px; top: 400px;}
#help-video { left: 400px; top: 400px;}

@media screen and (min-width: 991px) {
  #help-subsets { left: 20px; top: 80px; }
  #help-search { left: 20px; top: 80px; }
  #help-hops { left: 25px; top: 80px; }
}

@media screen and (min-width: 1100px) {
  #help-subsets { left: 50px; top: 80px; }
  #help-search { left: 50px; top: 80px; }
  #help-hops { left: 25px; top: 80px; }
  #help-entity { left: 33px; top: 300px;}
  #help-video { left: 33px; top: 300px;}
}

#entity-map-container .toggle-help-btn {
  background: rgba(0,40,60,0.8);
  transition: all 0.3s ease-out;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 3em;
  width: 50px;
  height: 50px;
  line-height: 38px;
  z-index: 1000;
}

#entity-map-container .toggle-help-btn:hover {
  background: rgba(0,40,60,0.6);
}