.button {
  border: none;
  font: inherit;
  margin: 0;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  text-decoration: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  padding: 5px 7px;
  border-radius: 4px;
  color: white;
  background-color: #5798ca;
}
.button:hover {
  background-color: #2d8bca;
}
